body {
	font: 1rem "Open Sans", Arial, sans-serif;
	line-height: 1.5em;
}
.container {
	max-width: 800px;
	margin: 0 auto 0 auto;
	padding: 15px;
}
header {
	text-align: center;
}
header img {
	width: 25%;
	height: 25%;
	margin: 15px auto 15px auto;
}
p {
	text-align: justify;
}
footer {
	margin: 40px;
	color: rgb(100,100,100);
	font-size: 0.8em;
	text-align: center;
}
